<nav class="navbar" style="background-color:rgb(142, 206, 142);">
  <div class="container-fluid">
    <div>
      <strong>Editing Game System:</strong> <%= link_to @game_system.name, @game_system %>
    </div>
  </div>
</nav>

