.standard-box {
  &_header{
    display: flex;
    flex-direction: row;

    &-text {
      flex: 1 1 70%;
    }

    &-menu {
      flex: 0 1 30%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  &_content {
    max-height: 400px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}