<div class="form-row">
  <%= unit_select(form, user_player.player_armies.first.army_list, :unit_id) %>
  <%= unit_xp_gain_event_select(form, game_system, :unit_xp_gain_event_id) %>
  <%= form.hidden_field :game_id %>
</div>