<p>
  <strong>Name:</strong>
  <%= unit_xp_gain_event.name %>
</p>
<p>
  <strong>Xp gain:</strong>
  <%= unit_xp_gain_event.xp_gain %>
</p>
<p>
  <strong>Active:</strong>
  <%= unit_xp_gain_event.active %>
</p>


