<% content_for :title, "Units" %>

<h1>Units</h1>

<div id="units">
  <%= turbo_frame_tag :units do %>
    <% @units.each do |unit| %>
      <%= render partial: "units/unit_card", locals: { unit:, army_list: @army_list } %>
    <% end %>
  <% end %>
</div>
