.turn-grid {
  width: 100%;

  &__cell {

    &-inputs-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &-total {
      text-align: right;

      &-wrapper {
        display: flex;
        flex-direction: row;
        gap: 2px;

        .score-container {
          flex: 1 1 auto;
        }
      }
    }

    &-counter {
     vertical-align: middle;
     text-align: center;
    }

    &-player {
      text-align: center;
    }
  }
}

.game-turns {
  display: flex;
  flex-direction: column;

  .game-turn-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}